<mat-card appearance="outlined">
  <mat-card-content>
    <div class="content">
      <mat-card appearance="raised">
        <mat-card-content>
          <div class="response">
            <div
              *ngFor="let message of messages"
              [ngClass]="{
                'system-message': message.messageType === 'system',
                'user-message': message.messageType === 'user'
              }"
            >
              <div class="message">{{ message.messageContent }}</div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <div class="toolbar">
        <form class="form">
          <mat-form-field class="full-width">
            <mat-label>Start chatting...</mat-label>
            <input
              matInput
              placeholder="Type your question..."
              value=""
              [formControl]="chatMessageControl"
            />
          </mat-form-field>
          <button mat-raised-button class="send-btn" (click)="send()">
            Send Message
          </button>
        </form>
      </div>
    </div>
  </mat-card-content>
</mat-card>
