<mat-card appearance="outlined">
  <mat-card-content>
    <div class="content">
      <mat-card appearance="raised">
        <mat-card-content>
          <div class="response">
            <div class="system-message">
              <div class="message">{{ messages[0].messageContent }}</div>
            </div>
            <div class="message">{{ messages[1].messageContent }}</div>
          </div>
        </mat-card-content>
      </mat-card>
      <div class="toolbar">
        <form class="form">
          <mat-form-field class="full-width">
            <mat-label>Start chatting...</mat-label>
            <input matInput placeholder="Type your question..." value="" />
          </mat-form-field>
          <button mat-raised-button class="send-btn">Send Message</button>
        </form>
      </div>
    </div>
  </mat-card-content>
</mat-card>
