.content{
    width: 95vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.toolbar{
    height: 10vh;
}

.response{
    height: 65vh;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
  
.full-width {
    width: 90%;
}

.send-btn{
    height: 55px;
}